* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    padding: 25px;

    background-color: white;
    text-align: center;

    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* STUDENT CIRCLE */
.profile {
    width: 112px;
    height: 112px;

    margin: 0 auto 15px;

    background-color: #ddd;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #999;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    margin: 10px 0 4px;
    font-size: 24px;
    color: #222;
}

h3 {
    margin: 0;
    font-size: 17px;
    color: #555;
}

.college {
    margin: 6px 0 0;
    font-size: 14px;
    color: #777;
}

.about {
    margin: 20px 0 15px;
    font-size: 14px;
    line-height: 1.6;
    color: #444;
}

h2 {
    margin: 10px 0;
    font-size: 17px;
    color: #444;
}

.skills {
    font-size: 14px;
}

.skills span {
    color: #1769ff;
    background-color: #f0f4ff;
    margin: 2px;
}

button {
    margin-top: 22px;
    padding: 10px 22px;

    border: none;
    border-radius: 6px;

    background-color: #2864e8;
    color: white;

    font-size: 14px;
}